<%= form_for(@tweet, url: choose_new_or_edit) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2>エラーがあります。</h2>
      <% @blog.errors.full_messages.each do |msg| %>
          <%= msg %>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :content, class: 'form-control' %>
  <br>

  <%= f.submit 'つぶやく',　class: 'btn btn-primary btn-block' %>

<% end %>

<%= link_to "つぶやき一覧へ戻る", tweets_path, class: 'btn btn-default btn-block' %>
